Package: com.zheedev.devicestats
Name: Thông Tin Thiết Bị (Device Info)
Depends: mobilesubstrate, uikittools
Version: 1.2.1
Architecture: iphoneos-arm64
Description: Trình phân tích & hiển thị toàn diện thông số phần cứng, hệ điều hành, pin và mạng
Maintainer: ZheeDev
Author: ZheeDev
Section: Utilities
Tag: role::cydia, purpose::uikit